@charset "utf-8";
@import "vendor/modern-normalize.css";
@import "base/fonts.css";

/* Misc */

button {
  all: unset;
  cursor: pointer;
  padding: 0rem 1rem; 
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 2px 2px 0 hsl(0, 0%, 90%);
  border-radius: 2px;
}

button:hover {
  background: hsl(0, 0%, 98%);
  box-shadow: 0 0 0 1px hsl(0, 0%, 30%), 0 2px 2px 0 hsl(0, 0%, 95%);
}

/* Layout */

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  padding: 1rem 2rem;
  max-width: 34rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.data-insert {
  margin-bottom: 2rem;
}

/* Colors */

body {
  background: #eee;
  color: #222;
}

.container {
  background: #fff;
}

/* Typography */

body {
  font-family: "system-ui";
  line-height: 1.5;
}

h1 {
  font-size: .8rem;
  font-weight: 400;
  opacity: .5;
}

h2 {
  font-size: 1rem;
  padding-bottom: .25rem;
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
}

/* Forms */

input {
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), inset 0 2px 2px 0 hsl(0, 0%, 96%);
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-el {
  margin-bottom: 1rem;
}

/* Modules */

.app-insert {
}

/* Records List */

.records-list  {
  padding-left: 0;
  list-style: none;
}

.records-list-item {
  display: flex;
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.records-list-item:last-child {
  box-shadow: none;
}

.record-date {
  margin-right: .5rem;
  flex: 0 0 8rem;
}
.record-time {
  margin-right: .5rem;
  flex: 0 0 8rem;
}
.record-delete {
  margin-left: auto;
}
